<div class="screenFull">
    <div class="formBox">
        <form action="./running/enter.php" method="post">
            <input type="text" name="username" placeholder="粉糖账号">
            <input type="password" name="password" placeholder="密码">
            <button type="submit">登录</button>
            <input type="hidden" name="todo" value="2">
            <button><a href="./register.php">注册</a></button>
        </form>
    </div>
    <div class="txtBox">
        <h1>登录粉糖粒子才可以使用相应功能</h1>
        <h2>若忘记密码，请发送邮箱到pinkcandyzhou@qq.com申请重置。</h2>
        <p>申请格式</p>
        <p>粉糖账号xxxxx 重置密码为000000</p>
    </div>
</div>