<div class="screenFull">
    <div class="formBox">
        <form action="./running/enter.php" method="post">
            <input type="text" name="username" placeholder="粉糖账号">
            <input type="password" name="password" placeholder="密码">
            <input type="text" name="name" placeholder="名称">
            <input type="text" name="email" placeholder="邮箱">
            <textarea name="info" cols="20" rows="2" placeholder="介绍"></textarea>
            <select name="sex">
                <option value="">性别</option>
                <option value="雄">雄</option>
                <option value="雌">雌</option>
                <option value="未知">不想告诉</option>
            </select>
            <select name="sort">
                <option value="">种族</option>
                <option value="犬">犬</option>
                <option value="猫">猫</option>
                <option value="龙">龙</option>
                <option value="狐">狐</option>
            </select>
            <input type="hidden" name="todo" value="1">
            <button type="submit">注册</button>
        </form>
    </div>
    <div class="txtBox">
        <h1>注册说明</h1>
        <h2>欢迎加入粉糖粒子</h2>
        <p>设置一个五位数字粉糖账号</p>
        <p>除了名称和介绍，其余均为必填字段。</p>
        <p>为防止频繁注册，粉糖账号与邮箱相对应。若发现邮箱被占用，请联系总管理兽修改。</p>
        <p>pinkcandyzhou@qq.com</p>
    </div>
</div>