<div class="screen">
    <div class="txtBox">
        <h1>精确搜索</h1>
    </div>
    <div class="formBox">
        <form action="user.php" method="get">
            <input type="text" name="username" placeholder="输入粉糖账号精确查找小兽">
            <button type="submit">搜索</button>
        </form>
        <form action="gallery.php" method="get">
            <input type="text" name="galleryId" placeholder="输入画廊ID精确查找画廊">
            <button type="submit">搜索</button>
        </form>
    </div>
    <div class="txtBox">
        <h1>精确搜索说明</h1>
        <h2>请记忆关键的数字！粉糖账号和画廊ID</h2>
        <p>它们能明确的指向想要的结果</p>
        <p>首页和收藏可以找到这些数字</p>
    </div>
</div>